body{
  background-color: #062556;
  /*background-color: #8c0101;*/
}

.header{
  height: 100px;
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e7ea;
  border-width: 2px;
  margin-bottom: 2px;
  margin-right: -12px;
}

.nasaLogo{
  height: 90px;
}

.logoContainer{
  padding-top: 20px;
}

.myLogo{
  height: 60px;
}

.credit{
  float: right;
  font-size: .7rem;
  margin-top: 30px;
}

.btn-primary{
  margin-top: 25px;
}

.learn{
  display: none;
}

#map {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
  border-radius: 10px;
}

.timeScale{
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e7ea;
  border-width: 2px;
  margin-bottom: 5px;
}

.rangeslider,
input[type='range'] {
  max-width: 95%;
  margin-top: 10px;
  margin-bottom: 50px;
  left: 37px;
}

@media only screen and (max-width: 1350px){
  .rangeslider__ruler{
    display: none;
  }
}


.rangeslider__ruler {
  cursor: pointer;
  font-size: .6rem;
  margin: 20px 3px 0 3px;
  position: relative;
  top: 30px;
  text-align: justify;
}

/*// Workaround to justify only one-line.
// Extra element to force a new line.*/
.rangeslider__ruler:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.rangeslider__fill{
  animation: pulse 1s infinite;
  /*background-color: #6fa3f7;*/
}

@keyframes pulse {
  0%{
    background-color: #6fa3f7;
  }
  50%{
    background-color: #4472ff;
  }
  100%{
    background-color: #6fa3f7;
  }

}


.centerChart{
  height: 600px;
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e7ea;
  border-width: 2px;
  margin-bottom: 5px;
}

.charts{
  position: relative;
  /*display: flex;*/
  margin: 10px;
}

.space{
  width: 5px;
}

.leftPad{
  padding-left: 0px;
  padding-right: 4px;
}

.leftChart{
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e7ea;
  border-width: 2px;
  height: 504px;
  padding: 10px;
  margin: auto;
}

.leftChart:hover{
  box-shadow: inset 0 0 1em black;
}

.rightPad{
  padding-right: 3px;
  padding-left: 0px;
}

.rightChart{
  border-style: solid;
  border-radius: 10px;
  background-color: #e5e7ea;
  border-width: 2px;
  height: 504px;
  padding: 10px;
}

.rightChart:hover{
  box-shadow: inset 0 0 1em black;
}

.row{
  margin-bottom: 2px;
}

.learn{
  position: relative;
}

.cardimg{
  display: block;
  height: 200px;
  width: 250px;
}
rect{
	fill:none;
}
