.worldMap {
  position: relative;
  width: 1021px;
  height: 600px;
  margin: auto;
}

body{
  background-color: #959ca8;
}

h1{
  font-family: monospace;
}

.point-xs{
  /*background-color: #F5D23A;*/
  background-color: grey;
  height:5px;
  width:5px;
  border-radius: 100%;
  position: absolute;
}

.point-sm{
  background-color: #FFB53C;
  height:8px;
  width:8px;
  border-radius: 100%;
  position: absolute;
}

.point-md{
  background-color: #E87737;
  height:11px;
  width:11px;
  border-radius: 100%;
  position: absolute;
}

.point-lg{
  background-color: #FF4D3C;
  height:13px;
  width:13px;
  border-radius: 100%;
  position: absolute;
}

.point-xl{
  background-color: #F53AB2;
  height:15px;
  width:15px;
  border-radius: 100%;
  position: absolute;
}

.rangeslider,
input[type='range'] {
  max-width: 1400px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.rangeslider__ruler {
  cursor: pointer;
  font-size: .7em;
  margin: 20px 3px 0 3px;
  position: relative;
  top: 30px;
  text-align: justify;
}

/*// Workaround to justify only one-line.
// Extra element to force a new line.*/
.rangeslider__ruler:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.rangeslide
